.margin {
  width: 1200px;
  margin: 0 auto; }

.bg {
  background: url(../foot/ic1.png) no-repeat center; }

header .top {
  text-align: center;
  font: 12px/30px "";
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2; }
  header .top .left {
    float: left; }
    header .top .left a {
      margin-left: 5px; }
  header .top .right {
    float: right; }
    header .top .right a {
      padding: 0 22px 0 10px; }
      header .top .right a i {
        display: inline-block;
        width: 7px;
        height: 4px;
        background: url(../images/index-images/head1.png) center no-repeat;
        margin: 0 0 3px 5px; }

header .center {
  height: 108px; }
  header .center .left {
    width: 210px;
    float: left; }
  header .center .right {
    margin: 20px 210px 0 0;
    width: 514px;
    float: right; }
    header .center .right .search #txt {
      width: 430px;
      height: 34px;
      float: left;
      border: 3px solid #e6243f;
      outline: none;
      text-indent: 20px;
      font-size: 16px; }
    header .center .right .search #btn {
      width: 78px;
      height: 40px;
      float: left;
      background: #e6243f;
      border: none;
      color: #fff;
      outline: none;
      font-size: 18px; }
    header .center .right .bottom a {
      font: 12px/28px "";
      padding: 0 10px 0 10px;
      height: 28px;
      width: 40px;
      background: url(../images/index-images/head2.png) no-repeat right center; }
    header .center .right .bottom .hot {
      color: #e6243f; }

header .nav {
  font: 16px/40px "";
  height: 40px;
  text-align: center; }
  header .nav .item {
    position: relative; }
    header .nav .item .left {
      float: left;
      width: 200px;
      height: 40px;
      display: block;
      background: #e6243f;
      color: #fff; }
    header .nav .item .one {
      position: absolute;
      left: 0;
      top: 40px;
      width: 200px;
      height: 400px;
      background: #e6243f; }
      header .nav .item .one div {
        width: 200px;
        height: 33px; }
        header .nav .item .one div a {
          color: #fff; }
      header .nav .item .one div:hover {
        background: #ff7c14;
        font: 16px/33px ""; }
  header .nav ul {
    width: 592px;
    height: 40px;
    float: left;
    display: flex;
    margin-left: 10px; }
    header .nav ul li a {
      padding: 0 20px; }
    header .nav ul li :hover {
      color: #e6243f; }
    header .nav ul li .hot {
      color: #e6243f;
      font-weight: 700; }
  header .nav .item2 {
    position: relative; }
    header .nav .item2 .one2 {
      position: absolute;
      right: 0;
      top: 40px;
      width: 208px;
      height: 400px;
      background: #fff; }
      header .nav .item2 .one2 a:hover {
        color: #34b9bc; }
    header .nav .item2 .right {
      float: right;
      width: 208px;
      height: 40px;
      display: block;
      background: #e6243f;
      color: #fff; }

.banner {
  background: #f3e9df;
  height: 400px; }
  .banner ul {
    position: relative;
    width: 792px;
    height: 400px;
    left: 200px;
    overflow: hidden; }
    .banner ul li {
      width: 792px;
      height: 400px; }
      .banner ul li img {
        width: 792px;
        height: 400px;
        position: absolute;
        left: 792px;
        top: 0px; }

.main {
  height: 420px;
  background: url(../images/index-images/main.jpg) no-repeat center; }
  .main .m-c img {
    float: left; }
  .main .m-b ul {
    display: flex;
    justify-content: space-between; }
    .main .m-b ul li {
      width: 190px;
      height: 203px;
      background: #fff; }
      .main .m-b ul li .pic {
        margin-left: 30px; }
      .main .m-b ul li .title {
        margin-left: 30px;
        width: 130px; }
      .main .m-b ul li .price {
        margin-left: 30px; }
        .main .m-b ul li .price i {
          color: #e6243f; }
        .main .m-b ul li .price em {
          color: #e6243f;
          font-weight: 700;
          font-size: 18px; }

.pro .floor {
  position: fixed;
  left: 300px;
  bottom: 80px;
  height: 240px;
  background: #e6243f; }
  .pro .floor li {
    width: 30px;
    height: 40px;
    text-align: center; }
    .pro .floor li a {
      color: #fff; }
  .pro .floor li:hover {
    background: #fff; }
    .pro .floor li:hover a {
      color: #e6243f; }

.pro .brand {
  overflow: hidden; }
  .pro .brand img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

.pro .bea2 {
  overflow: hidden; }
  .pro .bea2 img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

.pro .gold2 {
  overflow: hidden; }
  .pro .gold2 img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

.pro .house2 {
  overflow: hidden; }
  .pro .house2 img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

.pro .food2 {
  overflow: hidden; }
  .pro .food2 img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

.pro .app2 {
  overflow: hidden; }
  .pro .app2 img {
    width: 585px;
    height: 358px;
    float: left;
    margin: 15px 15px 0 0; }

footer {
  border-top: 5px solid #34b9bc;
  height: 443px;
  margin-top: 15px; }
  footer .f-t {
    height: 82px;
    border-bottom: 1px solid #e3e3e3; }
    footer .f-t ul {
      width: 1200px;
      height: 82px;
      margin: 0 auto; }
      footer .f-t ul li {
        margin-top: 14px;
        float: left;
        width: 200px;
        height: 50px;
        font: 16px/50px ""; }
        footer .f-t ul li a {
          display: flex; }
          footer .f-t ul li a b {
            width: 50px;
            height: 50px;
            display: block;
            background-position: 0 0; }
          footer .f-t ul li a b:hover {
            background-position: 0 -50px; }
          footer .f-t ul li a .b2 {
            background-position: -50px 0; }
          footer .f-t ul li a .b2:hover {
            background-position: -50px -50px; }
          footer .f-t ul li a .b3 {
            background-position: -100px 0; }
          footer .f-t ul li a .b3:hover {
            background-position: -100px -50px; }
          footer .f-t ul li a .b4 {
            background-position: -150px 0; }
          footer .f-t ul li a .b4:hover {
            background-position: -150px -50px; }
          footer .f-t ul li a .b5 {
            background-position: -200px 0; }
          footer .f-t ul li a .b5:hover {
            background-position: -200px -50px; }
          footer .f-t ul li a .b6 {
            background-position: -250px 0; }
          footer .f-t ul li a .b6:hover {
            background-position: -250 -50px; }
          footer .f-t ul li a span {
            margin-left: 10px;
            display: block; }
  footer .f-c {
    height: 150px;
    border-bottom: 1px solid #e3e3e3; }
    footer .f-c .f-c-c {
      height: 150px;
      width: 1200px;
      margin: 0 auto;
      background: url(../foot/f1.png) no-repeat 1050px 10px; }
      footer .f-c .f-c-c dl {
        float: left;
        width: 180px; }
        footer .f-c .f-c-c dl dt {
          font: 16px/18px "";
          margin: 20px 0 12px; }
        footer .f-c .f-c-c dl dd {
          text-indent: 5px;
          width: 165px;
          height: 20px;
          position: relative; }
          footer .f-c .f-c-c dl dd i {
            display: inline-block;
            width: 3px;
            height: 3px;
            background-position: -2px -127px;
            position: absolute;
            top: 8px;
            left: -8px; }
        footer .f-c .f-c-c dl a:hover {
          color: #34b9bc; }
          footer .f-c .f-c-c dl a:hover i {
            background-position: -2px -112px; }
  footer .f-b {
    text-align: center; }
    footer .f-b .menu {
      margin: 20px 0 10px; }
      footer .f-b .menu span {
        background: #34b9bc;
        display: block;
        width: 756px;
        height: 32px;
        margin: 0 auto;
        font: 16px/32px ""; }
        footer .f-b .menu span a {
          color: #fff; }
        footer .f-b .menu span i {
          color: #fff; }
    footer .f-b p {
      width: 450px;
      height: 22px;
      margin: 0 auto;
      font: 12px/22px "";
      color: #000; }
    footer .f-b .f-b-b b {
      display: block;
      font: 12px/22px "";
      padding-top: 10px; }
