.margin{
    width:1200px;margin:0 auto;
    
}
.bg{
    background:url(../foot/ic1.png) no-repeat center;
}

header{
    .top{
        text-align: center;
        font:12px/30px "";
        height:30px;
        border-bottom:1px solid #e5e5e5;
        background:#f2f2f2;
        .left{
            float: left;
            a{margin-left:5px;}
        }
        .right{
            float: right;
            a{padding:0 22px 0 10px;
            i{
                display: inline-block;
                width:7px;
                height:4px;
                background:url(../images/index-images/head1.png)center no-repeat;
                margin:0 0 3px 5px ;
            }}
        }
    }
    .center{
        height:108px;
        .left{
            width:210px;
            float: left;
            
        }
        .right{
            margin:20px 210px 0 0 ;
            width:514px;
            
            float: right;
            .search{
                
                #txt{width:430px;height:34px;float: left;border:3px solid #e6243f;outline: none;text-indent:20px;font-size:16px;}
                #btn{width:78px;height:40px;float:left;background:#e6243f;border:none;color:#fff;outline: none;font-size:18px;}
            }
            .bottom{
                a{
                    font:12px/28px "";
                    padding:0 10px 0 10px;
                    height:28px;
                    width:40px;
                    background:url(../images/index-images/head2.png)no-repeat right center;
                    
                    
                    
                }
                .hot{color:#e6243f}
            }
            
        }
        
    }
    .nav{
        font:16px/40px "";
        height:40px;
        text-align:center;
        .item{
            position: relative;
            .left{
                float: left;
                width:200px;
                 height:40px;
                 display: block;
                 background:#e6243f;
                 color:#fff;
                }
            
            .one{
                position: absolute;
                left:0;top:40px;
                width:200px;
                height:400px;
                background:#e6243f;
                div{
                    width:200px;height:33px;
                    a{color:#fff;}
                }
                div:hover{
                    background:#ff7c14;
                    font:16px/33px "";
                }
               
                    
                
            }
        }
        
        ul{
            width:592px;height:40px;
            float:left;
            display:flex;
            margin-left:10px;
            li{
                a{
                    padding:0 20px;
                    
                }
                :hover{color:#e6243f;}
                .hot{color:#e6243f;font-weight: 700;}
            }
        }
        .item2{
            position: relative;
            .one2{
                position: absolute;
                right:0;top:40px;
                width:208px;
                height:400px;
                background:#fff;
                a:hover{color:#34b9bc;}
            }
            .right{
                float: right;
                width:208px;
                height:40px;
                display: block;
                background:#e6243f;
                color:#fff;
            }

        }
       
        
        }
        
}

    


.banner{
    background: #f3e9df;
    height:400px;
    
    
    ul{position: relative;width:792px;height:400px;left:200px;overflow: hidden;
        li{
            width:792px;height:400px;
            img{
                width:792px;height:400px;position: absolute;left:792px;top:0px;
            }
           
        }
        
        
    }
    
     
}
.main{
    height:420px;   
    background:url(../images/index-images/main.jpg) no-repeat center;
    .m-c{
        
        img{
            float: left;
        }
    }
    .m-b{
        ul{
            
            display: flex;
            justify-content: space-between;
            li{
                
                
                width:190px;height:203px;background:#fff;
                .pic{
                    margin-left:30px;
                }
                .title{
                    margin-left:30px;
                    width:130px;
                }
                .price{
                    margin-left:30px;
                    i{
                        color:#e6243f;
                    }
                    em{
                        color: #e6243f;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
.pro{
    .floor{
        position: fixed;left:300px;bottom:80px;height:240px;background:#e6243f;
        li{
            width:30px;height:40px;
            text-align: center;
            a{color:#fff;}
        }
        li:hover{background:#fff;
            a{color:#e6243f}
        }
    }
    .brand{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
    .bea2{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
    .gold2{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
    .house2{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
    .food2{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
    .app2{
        overflow: hidden;
        img{width:585px;height:358px;float: left;margin:15px 15px 0 0;}
    }
}


footer{
    border-top:5px solid #34b9bc;
    height:443px;
    margin-top:15px;
    .f-t{
        height:82px;
        
        border-bottom:1px solid #e3e3e3;
       
        ul{
            width:1200px;
            height:82px;
            margin:0 auto;
            li{
                margin-top:14px;
                float: left;
                width:200px;
                height:50px;
                font:16px/50px "";
                a{
                    display: flex;
                    b{
                        width:50px;
                        height:50px;
                        display:block;
                        background-position: 0 0 ;
                    }
                    b:hover{background-position: 0 -50px ;}
                    .b2{
                        background-position: -50px 0;
                    }
                    .b2:hover{background-position: -50px -50px ;}
                    .b3{
                        background-position: -100px 0 ;
                    }
                    .b3:hover{background-position: -100px -50px ;}
                    .b4{
                        background-position: -150px 0 ;
                    }
                    .b4:hover{background-position: -150px -50px ;}
                    .b5{
                        background-position: -200px 0 ;
                    }
                    .b5:hover{background-position: -200px -50px ;}
                    .b6{
                        background-position: -250px 0 ;
                    }
                    .b6:hover{background-position: -250 -50px ;}
                    span{  
                        margin-left:10px;               
                        display: block;                                             
                    }
                }
                
            }
        }
    }
    .f-c{
        height:150px;
        border-bottom:1px solid #e3e3e3;
        .f-c-c{
            height:150px;width:1200px;margin:0 auto;
            background:url(../foot/f1.png) no-repeat 1050px 10px;
            dl{
                float: left;
                width:180px;
                dt{
                    font:16px/18px "";
                    margin:20px 0 12px;
                }
                dd{
                    text-indent: 5px;
                    width:165px;height:20px;
                    position: relative;
                    i{
                        display:inline-block;
                        width:3px;height:3px;
                        background-position:-2px -127px ;
                        position: absolute;
                        top:8px;left:-8px;
                    }
                   
                    
                }
                a:hover{

                    color:#34b9bc;
                    i{
                        background-position:-2px -112px ;
                    }
                   
                }
            }
        }
    }
    .f-b{
        text-align: center;
        .menu{
           
            margin:20px 0 10px;
            span{
                background: #34b9bc;
                display: block;
                width: 756px;height:32px;
                margin:0 auto;
                font:16px/32px "";
                a{
                    color:#fff;
                }
                i{
                    color: #fff;
                }

            }
        }
        p{
            width:450px;height:22px;margin:0 auto;
            font:12px/22px "";color:#000;
        }
        .f-b-b{
            b{
                display:block;
                font:12px/22px "";
                padding-top:10px;
            }
        }
    }
        
    
}